<div class="wrapper">
    <div class="header header-filter" style="height: 100vh; background-image: url('img/fondo.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                    <div class="card card-signup">
                        <form class="form" ng-submit="login()">
                            <div class="header header-danger text-center">
                                <h4 style="color: #fff;">Inicia sesión</h4>
                                <div class="social-line">
                                </div>
                            </div>
                            <p class="text-divider">Con tu cuenta WELCOME</p>
                            <div class="content">

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                    <div class="form-group is-empty">
                                        <input style="font-size: 14px;" type="text" class="form-control" placeholder="Número de celular..." required ng-model="datalogin.USUCEL" autofocus="">
                                    </div>
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                    <div class="form-group is-empty">
                                        <input style="font-size: 14px;" type="password" placeholder="Contraseña..." class="form-control" required ng-model="datalogin.USUPAS" />
                                    </div>
                                </div>
                            </div>
                            <div class="footer text-center">
                                <button type="submit" class="btn btn-simple btn-primary btn-lg">Ingresar</button>
                            </div>
                            <div class="message" style="display: none"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>