<div class="header">
    <div class="container">
    </div>
</div>
<div class="main main-raised" style="height: 100vh;overflow: auto;">
	<div class="container">
		<div class="section text-center">
			
		</div>
		<p style="border-bottom: 1px; solid #ccc;" ng-if="message == ''">Selecciona tu restaurante</p>
		<div class="row">
			<div class="col-md-10 col-offset-1">
				<i class="fa fa-close" id="close-browser" ng-click="hideSearchBar()" style="position:relative;float:right;margin-right:15px;padding:9px 10px;margin-top:8px;margin-bottom:8px;background-color:transparent;background-image:none;border:1px solid transparent;border-radius:4px;cursor:pointer;display:none;"></i>
				<div id="browser" class="input-group" style="color:#5a5a5a;margin-top: -15px;display: none;width: 60wh;">
					<span class="input-group-addon">
	                	<i style="color: #5a5a5a;" class="fa fa-search"></i>
	                </span>
		            <div class="form-group is-empty">
		            	<input ng-model="busqueda" style="color: #5a5a5a;" type="search" id="search" placeholder="Buscar..." class="form-control" />
		            </div>
	           	</div>
				<div class="alert alert-warning" ng-if="message != ''">{{message}}</div>
				<ul class="list-group" ng-if="message == ''">
				 	<li class="list-group-item"  ng-repeat="torteria in torterias|filter:busqueda">
				    	<span class="badge" ng-click="select(torteria)" style="cursor: pointer;"><i class="fa fa-arrow-right"></i></span>
				    	{{torteria.TORNOM}}
				    	<br>
				    	<span style="font-size:0.9em;color: #7a7a7a;">{{torteria.TORDES}} </span>
				  	</li>
				</ul>
			</div>
		</div>
	</div>		
</div>