<nav class="navbar navbar-danger navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<i class="fa fa-check-circle" ng-click="send()" ng-if="pedido.Total > 0" style="position:relative;float:right;margin-right:15px;padding:9px 10px;margin-top:8px;margin-bottom:8px;background-color:transparent;background-image:none;border:1px solid transparent;border-radius:4px;cursor:pointer;">&nbsp;Pedir</i>
			<i style="position:relative;float:right;margin-right:15px;padding:9px 10px;margin-top:8px;margin-bottom:8px;background-color:transparent;background-image:none;border:1px solid transparent;border-radius:4px;cursor:pointer;">Mi saldo: ${{user.USUSAL}}</i>
			<a ng-click="go()" style="color:#fff;"><i class="fa fa-arrow-left" style="position:relative;float:left;margin-left:15px;padding:9px 10px;margin-top:8px;margin-bottom:8px;background-color:transparent;background-image:none;border:1px solid transparent;border-radius:4px;cursor:pointer;"></i></a>
		</div>
	</div>
</nav>