<nav class="navbar navbar-danger navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<i class="fa fa-search" id="open-browser" ng-click="showSearchBar()" style="position:relative;float:right;margin-right:15px;padding:9px 10px;margin-top:8px;margin-bottom:8px;background-color:transparent;background-image:none;border:1px solid transparent;border-radius:4px;cursor:pointer;"></i>
			<i ng-click="href('www/pedido')" class="fa fa-shopping-basket" style="position:relative;float:right;margin-right:15px;padding:9px 10px;margin-top:8px;margin-bottom:8px;background-color:transparent;background-image:none;border:1px solid transparent;border-radius:4px;cursor:pointer;">&nbsp;{{pedido.Pedidos.length}}&nbsp;${{pedido.Total}}</i>
			<i style="position:relative;float:right;margin-right:15px;padding:9px 10px;margin-top:8px;margin-bottom:8px;background-color:transparent;background-image:none;border:1px solid transparent;border-radius:4px;cursor:pointer;">Mi saldo: ${{user.USUSAL}}</i>
			<a ng-click="go()" style="color:#fff;"><i class="fa fa-arrow-left" style="position:relative;float:left;margin-left:15px;padding:9px 10px;margin-top:8px;margin-bottom:8px;background-color:transparent;background-image:none;border:1px solid transparent;border-radius:4px;cursor:pointer;"></i></a>
			<!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>-->
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav" style="width: 100wh">
				<li class="active">
					<a href="#"><i class="fa fa-user"></i>&nbsp;{{user.USUNOM}}</a>
				</li>
				<li class="">
					<a href="#" ng-click=""><i class="fa fa-dollar"></i>&nbsp;Saldo: ${{user.USUSAL}}</a>
				</li>
				<li style="border-bottom: 1px solid #ccc;"></li>
				<li class="">
					<a href="#" ng-click="logout()"><i class="fa fa-sign-out"></i>&nbsp;Salir</a>
				</li>
			</ul>
		</div>
	</div>
</nav>